<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sotheby's api</title>
</head>
<body>
    <h1>sotheby's api</h1>
    <p>de la peinture? ou çà?</p>
    
</body>
</html>