<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>sotheby's api</title>
</head>
<body>
    <h1>sotheby's api</h1>
    <% for (paint of oeuvres) { %>
        <div class="border">
            <p><%= paint.name %></p>
            <p><%= paint.author %></p>
            <p><%= paint.price %></p>
            
        </div>
    <% } %>
    <p>de la peinture? ou çà?</p>
    
</body>
</html>